[Unit]
Description=Algorithm Simulations Suite Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/Yandex.Disk/webapps/algorithms_cei
ExecStart=/usr/bin/node server.js
Restart=always
Environment=PORT=8004

[Install]
WantedBy=multi-user.target
